/* Resetting body and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f3f3f3, #e1e1e1); /* Subtle gradient background */
    font-family: 'Special Elite', monospace;
}

.centered-text {
    font-size: 2rem;
    color: #333;
}
