body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif') center center / cover no-repeat;
    font-family: 'Special Elite', monospace;
}

.centered-text {
    font-size: 2rem;
    color: #333;
}
